*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    @import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@300;500;900&display=swap');
    font-family: 'Roboto', sans-serif;
}

#loader{
    border: 4px solid #f3f3f3; /* Light gray border */
    border-top: 4px solid #3498db; /* Blue border */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* Animation properties */
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    color: rgb(255,255,255);
    background-color: rgb(0,0,255);
}
.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-evenly;  
    list-style: none;
}
.logo{
    display: block;
    background-color: #3498db;
    border-radius: 5px;
    padding: 5px;
}

a{
    text-decoration: none;
    color: rgb(255,255,255);
}

.nav-links a:hover{
    text-decoration: underline;
}

.main-container{
    display: flex;
    justify-content: center;
}
.movie-holder{
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:20px;
}
.movie-holder>a{
    box-shadow: 0 0 10px 5px #878787;
    border-radius: 10px;
    transition: scale 0.3s;
}
.movie-holder>a:hover{
    scale: 1.05;
}
.movie-img-wrapper{
    width: 200px;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

@media screen and (max-width:600px){
    .nav-container{
        flex-direction: column;
        gap:10px;
    }
    .nav-links{
        width: 90%;
    }
    .movie-img-wrapper{
        width: 140px;
        height: 210px;
    }

}
.movie-link>h4{
    text-align: center;
    padding: 10px;
    color: #ffffff;
    background-color: #363636;
    border-radius: 0 0 10px 10px;
}
#booker{
    margin: 50px;
    text-align: center;
}
#booker>h3{
    margin-bottom: 20px;
}
#booker button{
    margin: 20px;
    font-family: inherit;
    font-weight: 700;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #363636;
    color: #ffffff;
    cursor: pointer;
}
#booker-grid-holder{
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;

}
.booking-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.grid-cell{
    width: 50px;
    height: 50px;
    padding: 17px;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
    transition: scale 0.3s;
}
.available-seat:hover{
    scale: 1.05;
}
.available-seat{
    background-color: green;
    cursor: pointer;
}
.unavailable-seat{
    background-color: red;
    cursor: not-allowed;
}
.selected-seat{
    border: 4px outset rgb(0,0,0);
    padding: 13px;
}
#customer-detail-form{
    display: flex;
    flex-direction: column;
}

.d-none{
    display: none;
}
.v-none{
    visibility: hidden;
}

